@import "tailwindcss";
@source inline("tracking-[{0..255..1}px]");
@source inline("h-[{0..1000..1}px]");

@theme {
  --font-rotated: "Rotated", sans-serif;
}

@font-face {
  font-family: Rotated;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/rotated.otf") format("opentype");
}

@layer components {
  .visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }

  .scale-w-1 {
    @apply w-full;
  }
  .scale-w-2 {
    @apply scale-x-195 w-[51%] translate-x-[49%];
  }
  .scale-w-3 {
    @apply scale-x-290 w-[35%] translate-x-[90%];
  }
  .scale-w-4 {
    @apply scale-x-375 w-[26%] translate-x-[138%];
  }
  .scale-w-5 {
    @apply scale-x-450 w-[21%] translate-x-[180%];
  }
  .scale-w-6 {
    @apply scale-x-520 w-[18.5%] translate-x-[210%];
  }
  .scale-w-7 {
    @apply scale-x-590 w-[16.5%] translate-x-[250%];
  }
  .scale-w-8 {
    @apply scale-x-700 w-[14%] translate-x-[300%];
  }

  .scale-h-2 {
    @apply scale-y-200 translate-y-1/2;
  }
  .scale-h-3 {
    @apply scale-y-300 translate-y-2/2;
  }
  .scale-h-4 {
    @apply scale-y-400 translate-y-3/2;
  }
  .scale-h-5 {
    @apply scale-y-500 translate-y-4/2;
  }
  .scale-h-6 {
    @apply scale-y-600 translate-y-5/2;
  }
  .scale-h-7 {
    @apply scale-y-700 translate-y-6/2;
  }
  .scale-h-8 {
    @apply scale-y-800 translate-y-7/2;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
}
a:hover,
a:focus {
  text-decoration: underline;
}

body {
  margin: 0;
  margin-bottom: 4px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
