@import "tailwindcss";
@source inline("tracking-[{0..255..1}px]");

@theme {
  --font-rotated: "Rotated", sans-serif;
}

@font-face {
  font-family: Rotated;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("fonts/rotated.otf") format("opentype");
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
}
a:hover,
a:focus {
  text-decoration: underline;
}

body {
  margin: 0;
  margin-bottom: 4px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
